@model WebApplication3.Areas.Areas.Models.nhasanxuat

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Areas/Views/Shared/_Adminlayout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhà sản xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tennhasanxuat)
        </dd>

        <dt>
            Địa chỉ nhà sản xuất

        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachinhasanxuat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
