
<div class="em-wrapper-area02">
    <div class="menu-wrapper hidden-xs">
        <div id="menuleftText" class="all_categories">
            <div class="menuleftText-title">
                <div class="menuleftText">
                    <span class="em-text-upercase">Danh mục sản phẩm</span>
                </div>
            </div>
        </div><!-- /.menuleftText -->
        <div class="menuleft">
            <div id="menu-default" class="mega-menu em-menu-icon">
                <div class="megamenu-wrapper wrapper-5_4607">
                    <div class="em_nav" id="toogle_menu_5_4607">
                        <ul class="vnav em-menu-icon effect-menu em-menu-long">
                            <li class="menu-item-link menu-item-depth-0 fa fa-video-camera menu-item-parent">
                                <a class="em-menu-link" href="#"> <span> Thời trang năng động </span> </a>
                                <ul class="menu-container">
                                    <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col5  fix-top menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-text menu-item-depth-3  ">

                                                        <h4>Thời trang năng động</h4>
                                                        <ul class="em-catalog-navigation vertical">
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Quần</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Áo</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Giày</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Mũ</span> </a>
                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-hbox -->
                                </ul>
                            </li><!-- /.menu-item-link -->
                            <li class="menu-item-link menu-item-depth-0 fa fa-video-camera menu-item-parent">
                                <a class="em-menu-link" href="#"> <span> Thời trang nam </span> </a>
                                <ul class="menu-container">
                                    <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col5  fix-top menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-text menu-item-depth-3  ">
                                                        <h4>Thời trang nam</h4>
                                                        <ul class="em-catalog-navigation vertical">
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Quần</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Áo</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Thắt lưng</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Giày</span> </a>
                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-hbox -->
                                </ul>
                            </li><!-- /.menu-item-link -->
                            <li class="menu-item-link menu-item-depth-0 fa fa-video-camera menu-item-parent">
                                <a class="em-menu-link" href="#"> <span> Thời trang nữ </span> </a>
                                <ul class="menu-container">
                                    <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col5  fix-top menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-text menu-item-depth-3  ">
                                                        <h4>Thời trang nữ</h4>
                                                        <ul class="em-catalog-navigation vertical">
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Quần</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Áo</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Váy</span> </a>
                                                            </li>
                                                            <li class="level0 nav-2 first">
                                                                <a href="#"> <span>Giày</span> </a>
                                                            </li>
                                                        </ul>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-hbox -->
                                </ul>
                            </li><!-- /.menu-item-link -->
                            <li class="menu-item-link menu-item-depth-0 fa fa-video-camera menu-item-parent">
                                <a class="em-menu-link" href="#"> <span> Thời trang trẻ em </span> </a>
                                <ul class="menu-container">
                                    <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col5  fix-top menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-text menu-item-depth-3  ">
                                                        <h4>Thời trang trẻ em</h4>
                                                        <ul class="em-catalog-navigation vertical">
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Quần</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Áo</span> </a>
                                                            </li>
                                                            <li class="level0 nav-1 first">
                                                                <a href="#"> <span>Giày</span> </a>
                                                            </li>

                                                        </ul>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-hbox -->
                                </ul>
                            </li><!-- /.menu-item-link -->


                        </ul><!-- /.vnav -->
                    </div>
                </div><!-- /.megamenu-wrapper -->
            </div>
        </div><!-- /.menuleft -->
    </div>
</div><!-- /.em-wrapper-area02 -->

