
@{
    ViewBag.Title = "Datmuathanhcong";
    Layout = "~/Views/Home/Shared/_mainlayout.cshtml";
}



<div class="content">
    <img src="~/Content/anh/oto.jpg"  class="img-thumbnail" style="width:900px; height:600px;"/>
</div>
<div>
    <center><h2 style="color:red;">Đơn hàng đang được chuyển giao cho bộ phận vận chuyển </h2></center>
</div>